﻿
@{
    ViewBag.Title = "About | Travel Planner";
}

<div class="well" style="text-align: center; font-family: 'Android 7'">
    <h2>About Travel Planner</h2>
</div>
<hr />
<div class="well" style="background-color:darkblue;color:white;white-space:pre-wrap;font-family:'Times New Roman';font-size:1.5em;text-align:justify">
    Travel Planner provides you all the facilities to book your tour between your source and destination and give you an option to 
    travel by your preffered travel mode. You can choose among Air, Rail and Road to travel and book your journey for any date
    and time we provide you all the available services to book here!
</div>