﻿
@{
    ViewBag.Title = "Contact | Travel Planner";
}
<div class="well" style="text-align: center; font-family: 'Android 7'">
    <h2>Contact</h2>
</div>
<hr />
<div class="well row" style="background-color:teal;color:white;font-family:'Times New Roman';font-size:1em">
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <input type="text" placeholder="Full Name" style="min-width:100%" class="form-control"/>
    </div>
    <div class="form-group col-lg-6 col-md-6 col-sm-12">
        <input type="email" placeholder="Email Address" style="min-width:100%" class="form-control" />
    </div>
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
        <input type="text" placeholder="Subject.." style="min-width:100%" class="form-control" />
    </div>
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
        <textarea placeholder="Message.." class="form-control" style="min-width:100%"></textarea>
    </div>
    <div class="form-group col-lg-12 col-md-12 col-sm-12">
        <button class="btn btn-lg" style="min-width: 100%; background-color: dodgerblue; font-size: 1.5em;">Send</button>
    </div>
</div>