﻿
@{
    ViewBag.Title = "Booking";
}
<div class="well" style="text-align:center; font-family:'Android 7'">
    <h2>Booking</h2>
</div>
<hr />
<div class="well" style="background-color: #0d5855; color: white; font-family: 'Times New Roman'; font-size: 1.5em">
    <div class="row">
        <h3 style="text-align:center">Please Fill Your Details Below</h3><hr />
        <div class="form-group col-md-6 col-lg-6 col-sm-6" >
            <label for="txt_name">Full Name</label>
            <input id="txt_name" type="text" style="min-width:100%" class="form-control"/>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6">
            <label for="txt_email">Email Address</label>
            <input id="txt_email" type="email" style="min-width:100%" class="form-control"/>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6">
            <label for="txt_contact">Contact Number</label>
            <input id="txt_contact" type="text" style="min-width:100%" class="form-control" />
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6">
            <label for="txt_mode">Travel Mode</label>
            <select id="txt_mode" class="form-control" style="min-width:100%">
                <option value="Select">Select</option>
                <option value="Air">Air</option>
                <option value="Rail">Rail</option>
                <option value="Roadways">Roadways</option>
            </select>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6">
            <label for="txt_date">Date</label>
            <input id="txt_date" type="date" style="min-width:100%" class="form-control min-today" />
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6">
            <label for="txt_time">Time</label>
            <input id="txt_time" type="time" style="min-width:100%" class="form-control" />
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6">
            <label for="txt_source">Source Location</label>
            <select id ="txt_source" style="min-width:100%" class="form-control">
                <option value="Select">Select</option>
                <option value="Bengluru">Bengluru</option>
                <option value="Delhi">Delhi</option>
                <option value="Mumbai">Mumbai</option>
            </select>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6">
            <label for="txt_destination">Destination Location</label>
            <select id="txt_destination" style="min-width:100%" class="form-control">
                <option value="Select">Select</option>
                <option value="Bengluru">Bengluru</option>
                <option value="Delhi">Delhi</option>
                <option value="Mumbai">Mumbai</option>
            </select>
        </div>
        <div class="form-group col-md-12 col-lg-12 col-sm-6">
            <input type="submit" style="min-width: 100%; color: white; background-color: #155d7f; border: none; font-size: 1em;" class="btn btn-default" onclick="Booking();"/>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('[type="date"].min-today').attr('min', function () {
                return new Date().toJSON().split('T')[0];
            });
        });
    });
</script>