﻿
@{
    ViewBag.Title = "My Status | Travel Planner";
}
<div class="well" style="text-align:center; font-family:'Android 7'">
    <h2>My Bookin Status</h2>
</div>
<hr />
<div class="form-group">
    <label for="txt_email">Email Address</label>
    <input type="email" id="txt_email"  class="form-control"/>
</div>
<div class="form-group">
    <input type="submit" style="min-width: 100%; color: white; background-color: #155d7f; border: none; font-size: 1em;" class="btn btn-default" onclick="BookingDetails();" />
</div>

<hr />

    <div class="table-responsive dataTable">
        <table id="Booking_Status_Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
    </div>

