﻿
@{
    ViewBag.Title = "Travel Desk | Travel planner";
}

<div class="well" style="text-align:center; font-family:'Android 7'">
    <h2>Welcome to Travel Desk</h2>
</div>
<hr />
@{if (!HttpContext.Current.User.Identity.IsAuthenticated)
{
<div style="background-color:teal;color:white;">
    <a class="col-lg-6 col-md-6 col-sm-12" id="LoginDiv" style="cursor:pointer;pointer-events:none;color:green;">Login</a>
    <a class="col-lg-6 col-md-6 col-sm-12" id="SignupDiv" style="cursor:pointer">Sign Up</a>
</div>
<hr />
<div class="row" id="SignUp" style="display:none">
    <div class="form-group">
        <label for="txt_email">Email Address</label>
        <input class="form-control" id="txt_email" type="email" />
    </div>
    <div class="form-group">
        <label for="txt_pass">Enter Password</label>
        <input class="form-control" id="txt_pass" type="password" />
    </div>
    <div class="form-group">
        <label for="txt_pass_conf">Confirm Password</label>
        <input class="form-control" id="txt_pass_conf" type="password" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="Sign Up" onclick="Register();" />
    </div>
</div>

 
    <div class="row" id="Login">
        <div class="form-group">
            <label for="txt_email_log">Email Address</label>
            <input class="form-control" id="txt_email_log" type="email" />
        </div>
        <div class="form-group">
            <label for="txt_pass_log">Enter Password</label>
            <input class="form-control" id="txt_pass_log" type="password" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Login" onclick="LoginUser();" />
        </div>
    </div>
}
  else
  {
      <h4 style="text-align:center;color:teal">Welcome @HttpContext.Current.User.Identity.Name</h4>
    <p style="text-align:right">@Html.ActionLink("Log Out","Logout","Account")</p>
  }
}

<div class="table-responsive dataTable">
    <table id="Travel_Desk_Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
</div>

<div class="modal fade" id="StatusModal">
    <div class="modal-dialog">
        <div class="modal-content" style="padding: 5% 10%;">
            <h5 style="text-align:center">Change booking status</h5>
            <select id="book_status">
                <option value="Open">Open</option>
                <option value="Confirm">Confirm</option>
                <option value="Cancel">Cancel</option>
            </select>
            <input type="hidden" id="bookingId" class="form-control" />
            <input type="submit" value="Change" class="btn btn-default" onclick="SetStatus();" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#LoginDiv').click(function () {
            $('#Login').css('display', 'block');
            $('#SignUp').css('display', 'none');
            $('#LoginDiv').css({'pointer-events':'none','color':'green'});
            $('#SignupDiv').css({ 'pointer-events': 'auto', 'color': '#23527c' });
        });
        $('#SignupDiv').click(function () {
            $('#SignUp').css('display', 'block');
            $('#Login').css('display', 'none');
            $('#LoginDiv').css({ 'pointer-events': 'auto', 'color': '#23527c' });
            $('#SignupDiv').css({ 'pointer-events': 'none', 'color': 'green' });
        });
        if('@HttpContext.Current.User.Identity.IsAuthenticated'=='True')
        {
            fetchDesk();
        }
    });
</script>
